<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.goochi.brew_crew"> <!-- Replace with your package name -->

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Application declaration -->
    <application
       > <!-- Replace with your application icon -->

        <!-- Activities, Services, Receivers, etc. -->
        <!-- Add your activity declarations here -->

        <!-- This activity is the entry point of your Flutter application -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Add more activities, services, etc. as needed -->

    </application>
</manifest>
